#SPDX-License-Identifier: MIT-0
---
# tasks file for nginx
- name: install nginx
  package:
    name: nginx
    state: present

- name: copy nginx.conf
  copy:
    src: "nginx.conf"
    dest: "/etc/nginx/nginx.conf"
    mode: "0644"
