#SPDX-License-Identifier: MIT-0
---
# tasks file for gitlab_deploy
- name: Install rsync for deploy
  ansible.builtin.package:
    name: rsync
    state: present

- name: Create deploy user and ssh keys
  ansible.builtin.user:
    name: deploy_user
    shell: /bin/bash
    generate_ssh_key: yes
    ssh_key_bits: 4096
    ssh_key_file: .ssh/id_rsa
  register: deploy_user_data

- name: Copy public key
  ansible.builtin.slurp:
    src: "/home/deploy_user/.ssh/id_rsa.pub"
  register: slurp_public_key

- name: Save public key into facts
  ansible.builtin.set_fact:
    deploy_pub_key: "{{ slurp_public_key['content'] | b64decode }}"
  delegate_to: localhost
  delegate_facts: true

